@model IEnumerable<VehicleSummary>
<h1>Tüm Modeller</h1>

<div class="row">
    <div class="col-12 col-sm-10 col-md-12">
        @if (TempData.ContainsKey("SuccessMessage"))
        {
            @MessageHelper.DisplaySuccess(TempData.GetSuccessMessage())
            ;
        }
        @if (TempData["ErrorMessage"] != null)
        {
            @MessageHelper.DisplayError(TempData.GetErrorMessage());
        }
        <div class="float-end">
            <a class="btn btn-outline-primary btn-sm" asp-controller="Vehicles" asp-action="Create">Yeni Ekle</a>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Marka</th>
                    <th>Model</th>
                    <th>Plaka</th>
                    <th>Ruhsat No</th>
                    <th>Model Yılı</th>
                    <th>Trafik Çıkış Tarihi</th>
                    <th></th>
                </tr>
            </thead>
            <tbody> 
                @foreach (var vehicle in Model)
                {
                    <tr>
                        <td>@vehicle.Id</td>
                        <td>@vehicle.VehicleMakeName</td>
                        <td>@vehicle.VehicleModelName</td>
                        <td>@vehicle.PlateNumber</td>
                        <td>@vehicle.RegistrationNumber</td>
                        <td>@vehicle.Year</td> 
                        <td>@vehicle.RegistrationDateSummary</td>
                        <td class="text-end">
                            <a class="btn btn-outline-primary btn-sm" asp-controller="Vehicles" asp-action="Update" asp-route-id=@vehicle.Id>Düzenle</a>
                            <form asp-action="Delete" method="post" class="delete-form d-inline-block">
                                <input type="hidden" value="@vehicle.Id" name="id">
                                <button class="btn btn-outline-warning btn-sm">Sil</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@*
    section demek _layoutta razor bloğunu yazdığımız RenderBody gibi scriptler için olan RenderSection metodu ile o alana yazarız
    section yanındaki Scripts ise Rendersectiondaki ilk parametre ile aynı olmak zorunda
*@
@section Scripts{
    <script>
        let deleteForms = document.getElementsByClassName('delete-form');
        for (let i = 0; i < deleteForms.length; i++) {
            deleteForms[i].addEventListener('submit', function (e) {
                let isConfirmed = confirm('Dikkat !! Bu kayıt silinecek. Devam etmek istiyor musunuz ?');
                if (!isConfirmed) {
                    e.preventDefault();
                }
            });
        }
    </script>
}
